// Global css//
*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Montserrat-Regular";
}
ul{
    margin: 0;
}

li{
    margin: 0;
}

// HEADER//
#photos-header{
    display: flex;
}

.img-header-1{
    background-image: url(../img/featured_img_3.jpg);
    height: 40vh;
    width: 35vw;
}

.img-header-2{
    background-image: url(../img/featured_img_1.jpg);
    height: 40vh;
    width: 45vw;
}

.img-header-3{
    background-image: url(../img/featured_img_2.jpg);
    height: 40vh;
    width: 35vw;
}

.texte-header{
    padding-top: 280px;
    text-align: center;
    color: white;
}

.texte-header a{
    color: white;
    font-weight: bold;
}

.btn{
    background-color: red;
    transition: 0.3s ease-in-out;
}

.btn:hover{
    color: black;
    background-color: white;
}

// MAIN//
.main{
    display: flex;
}

.buy{
    margin: auto;
    padding-top: 50px;
}

